<h1>{{title}}</h1>

<div class="container">
  <div class="inputs-form">
    <h2 class="form-title">Add Form!</h2>
    <div class="first-name">
      <label>First Name: </label>
      <input [(ngModel)]="contact.firstName" placeholder="first name..">
    </div>
    <div class="last-name">
      <label>Last Name: </label>
      <input [(ngModel)]="contact.lastName" placeholder="last name..">
    </div>
    <div class="company">
      <label>Company: </label>
      <input [(ngModel)]="contact.company" placeholder="company..">
    </div>
    <div class="address">
      <label>Address: </label>
      <input [(ngModel)]="contact.address" placeholder="address..">
    </div>

    <button type="button" class="btn btn-primary"
        (click)="addContact(contact)">
      Add Contact
    </button>
  </div>

  <div class="preview">
    <h2 class="preview-title">Preview!</h2>
    <div>
      <label>First Name: </label>
      <div *ngIf="selectedContact">
        <label class="input-preview first-name">{{selectedContact.firstName}}</label>
      </div>
    </div>
    <div>
      <label>Last Name: </label>
      <div *ngIf="selectedContact">
      <label class="input-preview last-name">{{selectedContact.lastName}}</label>
      </div>
    </div>
    <div>
      <label>Company: </label>
      <div *ngIf="selectedContact">
      <label class="input-preview company">{{selectedContact.company}}</label>
      </div>
    </div>
    <div>
      <label>Address: </label>
      <div *ngIf="selectedContact">
      <label class="input-preview address">{{selectedContact.address}}</label>
      </div>
    </div>
  </div>
</div>

  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>


<h2 class="contacts-title">My Contacts</h2>
<table class="contacts">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts"
      [class.selected]="contact === selectedContact"
      (click)="contactSelected(contact)">
      <td>{{contact.firstName}}</td>
      <td>{{contact.lastName}}</td>
    </tr>
  </tbody>
</table>

