<h2 class="form-title">Add Form!</h2>

<div class="inputs-form">
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="firstName" placeholder="first name..">
  </div>
  <div>
    <label>Last Name: </label>
    <input [(ngModel)]="lastName" placeholder="last name..">
  </div>
  <div>
    <label>Company: </label>
    <input [(ngModel)]="company" placeholder="company..">
  </div>
  <div>
    <label>Address: </label>
    <input [(ngModel)]="address" placeholder="address..">
  </div>
</div>
